@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthAspApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark custom-navbar">
            <div class="container-fluid">
                <div class="left-header-block">
                    @Html.ActionLink("Users Manager", "Index", "Home", null, new { @class = "btn btn-outline-primary main-page-link" })
                </div>
                <div class="is-sign-in-block">
                    @{ if (User.Identity.IsAuthenticated)
                                    {
                                        var userName = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name);

                                        if (userName is not null)
                                        {
                        <div class="hello-block"><span style="color: seagreen">Hello, @userName.Value</span></div> }

                        @Html.ActionLink("Logout", "Logout", "Account", routeValues: null, new { @class = "btn btn-outline-primary login-button" }) }
                                    else
                                    {
                        @Html.ActionLink("Sign In", "SignIn", "Account", routeValues: null, new { @class = "btn btn-outline-primary login-button" })
                                        @Html.ActionLink("Sign Up", "SignUp", "Account", routeValues: null, new { @class = "btn btn-outline-primary login-button" }) } }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
