@using AuthAspApp.Constants
@model IList<UserViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (Model != null)
    {
        @using (Html.BeginForm("ProcessForm", "Home", FormMethod.Post))
        {
            <div class="buttons-block">
                <button type="submit" name="submit" value="Block" class="btn btn-warning">Block</button>
                <button type="submit" name="submit" value="Unblock" class="btn btn-outline-success"><i class="bi bi-arrow-clockwise"></i></button>
                <button type="submit" name="submit" value="Delete" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.CheckBox("SelectAll", false, new { id = "selectAll" })
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].SignUpDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].LastSignInDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        @Html.HiddenFor(m => m[i].Id)
                        @Html.HiddenFor(m => m[i].UserName)
                        @Html.HiddenFor(m => m[i].Email)
                        @Html.HiddenFor(m => m[i].Status)
                        @Html.HiddenFor(m => m[i].SignUpDate)
                        @Html.HiddenFor(m => m[i].LastSignInDate)
                        <tr>
                            <td class="check-box-td">
                                @Html.CheckBoxFor(m => m[i].Selected, new { @class = "user-check-box" })
                            </td>
                            <td>
                                @Html.DisplayFor(m => m[i].Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m[i].UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m[i].Email)
                            </td>
                            <td>
                                @if (Model[i].Status == UserStatuses.Active)
                                {
                                    <span style="color: seagreen">@Html.DisplayFor(m => m[i].Status)</span>
                                }

                                @if (Model[i].Status == UserStatuses.Blocked)
                                {
                                    <span style="color: red">@Html.DisplayFor(m => m[i].Status)</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(m => m[i].SignUpDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m[i].LastSignInDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }

</div>
