@model ICollections.ViewModels.ItemsCatalogViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />

<h2 class="lng-Catalog">Catalog</h2>

<div class="btn-group">
    <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle lng-TagCloud" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Tag Cloud </a>
        <ul class="dropdown-menu justify-content-lg-start" aria-labelledby="dropdownMenuLink">
            <form method="post">
            <li>
                <div class="btn-group">
                    <input class="btn btn-link" type="submit" value="All" formaction="~/Collection/ItemsCatalog">
                    <input type="search" name="str" style="visibility: hidden" size="1">
                </div>
            </li>
            </form> @foreach (var tag in Model.TagCloude){
                <form method="post">
                <li>
                    <input class="btn btn-link" type="submit" value="@tag" formaction="~/Collection/ItemsCatalog">
                    <input class="btn btn-light" type="search" name="str" value="@tag" style="visibility: hidden" size="1">
                </li>
            </form>}
        </ul>
    </div>

    <form method="post" asp-action="ItemsCatalog">
        <p>
            <input type="search" name="str" placeholder="">
            <button class="btn btn-outline-primary me-2 lng-Search" type="submit" value="Search" formaction="~/Collection/ItemsCatalog"/>
        </p>
    </form>
</div>

<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3"><span class="lng-Largest">Largest Collections</span></h4>
                <ul class="list-group mb-3">
                    <li>
                        @if (User.Identity.IsAuthenticated) {@foreach (var topFive in Model.TopFiveCollections){
                            <li class="list-group-item d-flex justify-content-between lh-sm listitem">
                                <form method="post" asp-action="CollectionItems" asp-controller="Collection">
                                    <div class="btn-group">
                                        <input type="submit" name="button" value="@topFive.Name" class="btn btn-link align-content-center" formaction="~/Collection/CollectionItems">
                                        <input name="IdUser" value="@topFive.UserId" style="visibility: hidden" size="1"/>
                                        <input name="IdCollection" value="@topFive.Id" style="visibility: hidden" size="1"/>
                                    </div>
                                </form>
                            </li>}}
                </ul>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3 ItemsHeader lng-ItemsHeader">Items</h4>
                <table class="table table-borderless table-bordered">
                    <thead class="text-dark">
                    <tr>
                        <th class="lng-Likes"> Likes </th>
                        <th></th>
                        <th class="lng-Tag"> Tag </th>
                        <th class="lng-Item"> Name </th>
                        <th class="lng-Desc"> Description </th>
                        <td></td>
                    </tr>
                        </thead> @foreach (var i in Model.Items){
                            <tr>
                                <td>
                                    <form id="myForm" asp-controller="Collection" asp-action="SetItemLike" method="post">
                                        @if (Model.ItemLikes != null && User.Identity.IsAuthenticated){
                                            <div class="btn-group">
                                                <button class="btn btn-outline-danger lng-Likes" type="submit" name="asd" id="asd" value="❤" formaction="~/Collection/SetItemLike" /> 
                                                @if (Model.ItemLikes.Any(j => (j.UserId == Model.User.Id) && (j.ItemId == i.Id))){
                                                    <label for="toggle-heart" aria-label="like" style="align-content: center">❤</label>}
                                            </div>
                                        <input name="UserId" value="@Model.User.Id" style="visibility: hidden" size="1" />
                                        <input name="ItemId" value="@i.Id" style="visibility: hidden" size="1" />} <p></p> @if (i.ItemLikes != null){
                                            <label class="text-center fw-bold" aria-label="like">@i.ItemLikes.Count().ToString() </label>}
                                    </form>
                                </td>
                                <td class="text-center"><img src="@Url.Content(i.Image)" style="width: 150px; height: 200px;" alt="" /></td>
                                <td class="text-center"> @Html.DisplayFor(item => i.Tag) </td>
                                <td>
                                    <form method="post" asp-action="ItemProfile">
                                        <div class="text-center">
                                            <input type="submit" name="button" value="@i.Name" class="btn btn-link text-dark" formaction="~/Collection/ItemProfile">
                                        </div>
                                        <p class="btn-group">
                                            <input name="id" , value="@i.Id" style="visibility: hidden" size="1" />
                                        </p>
                                    </form>
                                </td>
                                <td> @Html.DisplayFor(item => i.Description) </td>
                                <td>@if (User.Identity.IsAuthenticated && (Model.UserCollections != null)){
                                    <div class="dropdown">
                                    <a class="btn btn-outline-success dropdown-toggle lng-addTo" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Add to: </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">@foreach (var collection in Model.UserCollections){
                                        <form method="post" asp-action="AddCollectionItem">
                                            <li>
                                                <div class="btn-group">
                                                    <input type="submit" name="CollectionName" value="@collection.Name" class="btn btn-link text-dark" formaction="~/Collection/AddCollectionItem">
                                                    <input name="IdCollection" value="@collection.Id" style="visibility: hidden" size="1" />
                                                    <input name="IdItem" value="@i.Id" style="visibility: hidden" size="1" />
                                                </div>
                                            </li>
                                        </form>}
                                        </ul>
                                        </div>}
                                </td>
                            </tr>}
                </table>
            </div>
        </div>
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/js/ChangeTheme.js"></script>
    <script src="~/js/ChangeLanguage.js"></script>
</div>